* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  color: black;
}

a {
    color:rgb(16, 3, 131) ;
    font-size: large;
  }
body {
  background-position: top;
  background-image: url('images/images1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.container {
    width: 1000px;
    height: 1000px;
    box-sizing: border-box;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
p {
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  font-size: large;
}
div {
  text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

.gallery img {
    width: 100%;
}
.menu {
    text-align: center;
    margin-top: 30px;
}

.menu a {
    display: block;
    margin: 10px;
}